@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');

body {
    margin: 0;
    font-family: Arial;
    background: #f1f5f9;
}

/* NAVBAR */
.navbar {
    background: white;
    padding: 12px 40px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    position: sticky;
    top: 0;
}

.nav-container {
    display: flex;
    justify-content: space-between;
}

.navbar a {
    margin-left: 15px;
    text-decoration: none;
    color: #1e293b;
}

/* HERO */
.hero {
    height: 260px;
    background: url('images/cover.jpg') center/cover no-repeat;
    display: flex;
    align-items: center;
}

.hero-text h1 {
    color: white;
}

/* INTRO */
.intro {
    padding: 40px;
}

.intro-header {
    display: flex;
    gap: 20px;
}

.profile-img {
    width: 100px;
}

/* GRID */
.container {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 20px;
    padding: 20px 40px;
}

/* CARD */
.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
}

/* EDUCATION */
.edu-block {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.edu-logo {
    width: 40px;
}

/* PROJECT */
.projects-section {
    padding: 20px 40px;
}

.project-card {
    background: white;
    padding: 20px;
    margin-top: 20px;
}

/* MEDIA */
.project-media {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.media-box {
    position: relative;
    padding-top: 56%;
}

.media-box img,
.media-box iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}
